html {
  background-color: #494850;
  max-height: 100%;
  max-width: 100%
}

body {
  margin: 0;
}

a:link {
  color:#5497a7
}

a:visited {
  color:#5497a7 
}

.header {
  color: #494850;
  margin-left: 16px;
  font-family: Helvetica;
}

.box {
 background-color: #efe6dd;
 width: 1300px;
 height: 1000px;
}

.contact {
  color: #494850;
  font-family: Garamond, serif;
  font-size: 16px;
  margin-left: 8px;
}

img { 
  margin-left: 20px;
}

.header2 {
  color: #ff3864;
  margin-left: 150px;
  margin-top: 20px;
  font-family: Helvetica;
}

.column {
  float: left;
  width: 8%;
  padding: 15px;
  margin-top: 30px;
}

.column2 {
  float: left;
  width: 80%;
  padding: 15px;
}

.aboutme {
  color: #494850;
  font-family: Garamond, serif;
  font-size: 20px;
  margin-left: 150px;
}

.sidebar {
  width: 300px;
  background-color: #efe6dd;
  position: fixed;
  height: 100%;
  margin: 0;
  padding: 0;

}

.picinfo {
  color: #5497a7;
  margin-left: 20px;
  font-family: Helvetica;
}