a:link {
  color:#efe6dd
}

a:visited {
  color:#efe6dd 
}

html, body { 
  background: #494850
}

#background {
  max-width: 1500px;
  margin: auto;
}
.header {
  font-size: 20px;
  font-family: Helvetica;
  color: #efe6dd;
}

.box {
  background: #5497a7;
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 20px;
  margin: 20px;
  height: 200px;
  max-width: 1500px;
  border-bottom-style: solid;
  border-color: #efe6dd;
  border-width: 7px;
}

img { 
  float: left;
}

.column {
  float: left;
  width: 46%;
  padding: 15px;
}
.column2 {
  float: left;
  width: 94%;
  padding: 15px;
}

.contact {
  color: #494850;
  font-family: Garamond, serif;
  font-size: 20px;
  max-width: 1000px;
}

.box2 {
  background: #5497a7;
  padding-top: 1px;
  padding-left: 40px;
  margin: 20px;
  height: 5250px;
  max-width: 1500px;
  border-bottom-style: solid;
  border-color: #efe6dd;
  border-width: 7px; 
}

.header2 {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  color: #ff3864;
}

.info {
  color: #494850;
  font-family: Garamond, serif;
  font-size: 18px;
}

.textbox {
  background-color: #efe6dd;
  padding: 20px;
  margin-top: 20px;
}

.box3 {
  background: #5497a7;
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 20px;
  margin: 20px;
  max-width: 1500px;
  border-bottom-style: solid;
  border-color: #efe6dd;
  border-width: 7px;
}